* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
}

#title {
  width: 40%;
  /* text-align: center; */
  padding-left: 60px;
}

#menu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-note {
  font-size: 14px;
  width: 400px;
  text-align: justify;
}